#description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 150%;
    text-align: center;
    padding: 100px 35vh;
}

#description *{
    padding: 30px 0 0 0;
    margin: 0;
}

#description h3, p{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

#description h1{
    font-family: 'Maverick Regular';
    color: #4ac6ff;
    font-size: 5rem;
    padding: 0;
}

@media screen and (max-width: 1130px) {
    #description{
        padding: 0 10vh;
    }

    #description h1{
        font-size: 3rem;
    }
}

@media screen and (max-width: 678px) {
    #description{
        padding: 0 5vh;
        height: 50vh;
    }
}

@media screen and (max-width: 576px) {
    #description h1{
        font-size: 2rem;
    }
    #description h3, p{
        font-size: 0.7rem;
    }
}