#logo-story{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: right;
    margin: 60px 0;
    padding: 30px;
    height: 70vh;
    background-color: #000;
}

#logo-story img{
    height: 60%;
}

#logo-story div{
    width: 50%;
    padding: 60px 40px;
    /* border: #4ac6ff solid 2px; */
    border-radius: 10px;
    word-spacing: 3px;
}

#logo-story div h3{
    font-family: 'Maverick Italic';
    color: #4ac6ff;
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

#logo-story p span{
    color: #4ac6ff; 
    font-weight: 800;
    font-style: italic;
}
@media screen and (max-width: 576px) {
    #logo-story{
        flex-direction: column-reverse;
        height: max-content;
        text-align: left;
        margin: 100px 0;
    }

    #logo-story img{
        height: auto;
        width: 50%;
    }

    #logo-story div{
        width: 80%;
        padding: 0;
    }
}