nav{
    padding: 0 40px 0 40px;
    height: 64px;
    width: 100vw;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    
    position: fixed;
    top: 0%;
}

ul{
    list-style: none;
}

nav li{
    display: inline-block;
}

nav li a{
    margin-left: 40px;
    cursor: pointer;
}

nav a{
    color: #fff;
}

nav ul{
    display: flex;
    gap: 2rem;
}

nav #Logo p{
    font-family: 'Maverick Italic';
    font-size: 20px;
    color: #4ac6ff;
}

nav #Logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav #Logo img{
    height: 50px;
}

nav .toggle_btn{
    display: none;
}

.dropdown_menu{
    position: fixed;
    top: 70px;
    right: 2rem;
    width: 300px;
    height: 0px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 100;
}

.dropdown_menu.open{
    height: auto;
}

.dropdown_menu ul{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.dropdown_menu li:hover{
    background-color: rgba(255, 255, 255, 0.1);
}


/* RESPONSIVE */
@media screen and (max-width: 992px) {
    nav li{
        display: none;
    }

    nav .toggle_btn{
        display: block;
        color: #fff;
        cursor: pointer;
    }

    nav .toggle_btn i{
        color: #fff;
    }

    nav .toggle_btn i:hover{
        color: #4ac6ff;
    }
}

@media screen and (max-width: 576px) {
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}