#recap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 30px 0 30px;
  --frame-width: 70vw;
}


#small-screen{
   display: flex;
   flex-direction: row;
   width: var(--frame-width);
   height: 2rem;
   align-items: center;

   background-color: #000;

   border: #4ac6ff 4px solid;
   border-top-left-radius: 1rem;
   border-top-right-radius: 1rem;
}

#small-screen > img{
   margin-left: 1rem;
   height: 1rem;
}

#recap iframe{
   width: var(--frame-width); 
   height: calc(var(--frame-width) * 315/560);
   border: #4ac6ff 4px solid;
   border-bottom-left-radius: 1rem;
   border-bottom-right-radius: 1rem;
}

@media screen and (max-width: 576px) {
   #recap{
      --frame-width: 95vw;
   }
}