#recap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 100%;
  margin: 0  0 30px 0;
  padding: 60px 0 30px;
  --frame-width: 80vw;
}

#recap h3{
   font-family: 'Maverick Regular';
   font-size: 3rem;
   padding: 0;
   margin: 0;
   color: #4ac6ff;
}

#recap p{
   text-align: justify;
   font-family: 'Montserrat', sans-serif;
   color: #fff;
   width: var(--frame-width); 
   padding: 30px 0;
}

#recap iframe{
   width: var(--frame-width); 
   height: calc(var(--frame-width) * 315/560);
}

@media screen and (max-width: 576px) {
   #recap{
      --frame-width: 95vw;
   }
}