#recap{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10vh 0;
  --frame-width: 70vw;
}

#recap iframe{
   width: var(--frame-width); 
   height: calc(var(--frame-width) * 315/560);
}

@media screen and (max-width: 576px) {
   #recap{
      --frame-width: 95vw;
   }
}