#timeline {
	width: 100%;
	height: auto;
	display: grid;
	place-items: center;
	padding: 50px 0 0;
	margin: 30px 0 30px; 
	transform: translate(0, 45px);
}
/* Container Css Start  */

#timeline .container {
	width: 70%;
	height: auto;
	margin: auto 0;
	position: relative;
}
#timeline .container ul {
	list-style: none;
}
#timeline .container ul::after {
	content: " ";
	position: absolute;
	width: 2px;
	height: 100%;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	background-color: #4ac6ff;
}
#timeline .container ul li {
	width: 50%;
	height: auto;
	padding: 15px 20px;
	background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
	border-radius: 8px;
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.218);
	position: relative;
	margin-bottom: 30px;
    user-select: none;
    cursor: pointer;
}
#timeline .container ul li .circle {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #e100ff7a;
	top: 0;
	display: grid;
	place-items: center;
}
#timeline .circle::after{
	content: ' ';
	width: 12px;
	height: 12px;
	background-color: #4ac6ff;
	border-radius: 50%;
}
#timeline ul li:nth-child(odd) .circle {
	transform: translate(50%, -50%);
	right: -30px;
}
#timeline ul li:nth-child(even) .circle {
	transform: translate(-50%, -50%);
	left: -30px;
}
#timeline ul li h3{
    font-family: 'Maverick Regular';
    color: #4ac6ff;    
}
#timeline ul li .date {
	position: absolute;
	width: 130px;
	height: 33px;
	background-image: linear-gradient(to right,#7f00ff,#e100ff);
	border-radius: 15px;
	top: -45px;
	display: grid;
	place-items: center;
	color: #fff;
	font-size: 13px;
	box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.318);
}
#timeline .container ul li:nth-child(odd) {
	float: left;
	clear: right;
	text-align: right;
	transform: translateX(-30px);
}
#timeline ul li:nth-child(odd) .date {
	right: 20px;
}
#timeline .container ul li:nth-child(even) {
	float: right;
	clear: left;
	transform: translateX(30px);
}
#timeline ul li .heading {
	font-size: 17px;
	color: rgb(91, 14, 216);
}
#timeline ul li p {
	font-size: 13px;
	color: #FFF;
	line-height: 18px;
	margin: 6px 0 4px 0;
}
#timeline ul li a {
	font-size: 13px;
	text-decoration: none;
	color: rgb(18, 54, 214);
	transition: all 0.3s ease;
}

#timeline ul li img{
    width: 100%;
    border-radius: 4px;
	height: 100%;
}

@media only screen and (min-width:798px) and (max-width: 1100px) {
	#timeline .container{
		width: 80%;
	}
}

@media only screen and (max-width: 798px) {
	#timeline .container{
		width: 70%;
		transform: translateX(20px);
	}
	#timeline .container ul::after{
		left: -40px;
	}
	#timeline .container ul li {
		width: 100%;
		float: none;
		clear: none;
		margin-bottom: 80px;
	}
	#timeline .container ul li .circle{
		left: -40px;
		transform: translate(-50%, -50%);
	}
	#timeline .container ul li .date{
		left: 20px;
	}
	#timeline .container ul li:nth-child(odd) {
		transform: translateX(0px);
		text-align: left;
	}
	#timeline .container ul li:nth-child(even) {
		transform: translateX(0px);
	}
}

@media only screen and (max-width: 550px) {
	#timeline .container{
		width: 80%;
	}
	#timeline .container ul::after{
		left: -20px;
	}
	#timeline .container ul li .circle{
		left: -20px;
	}
}